name: Deploy to XR

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, Linux, ARM64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Ansible (pip only)
        run: |
          pip3 install --upgrade pip
          pip3 install ansible paramiko sshpass

      - name: Deploy to XR
        run: |
          ansible-playbook \
            -i inventory/hosts.yml \
            playbooks/isis.yml
