name: IOS-XR GitOps Demo

on:
  push:
    

jobs:
  deploy:
    runs-on: [self-hosted, macOS, X64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: 
          submodules: false 
          clean: true 
          fetch-depth: 0
          persist-credentials: false 
          lfs: false 
          ref: ${{ github.sha }}
        

      - name: Remove any leftover submodule metadata
        run: |
          rm -rf .git/modules || true
          rm -rf .git/modules || true
          rm -f .git/config.worktree || true
          git config --unset-all submodule || true



      - name: Prepare Python + CA bundle (macOS runner)
        shell: bash
        run: |
          python3 --version
          python3 -m pip install --upgrade pip certifi
          CACERT=$(python3 -c "import certifi; print(certifi.where())")
          echo "SSL_CERT_FILE=$CACERT" >> $GITHUB_ENV
          echo "REQUESTS_CA_BUNDLE=$CACERT" >> $GITHUB_ENV

      - name: Install Ansible + pylibssh
        shell: bash
        run: |
          python3.11 -m pip install --upgrade pip
          python3.11 -m pip install "ansible>=10,<11"
          python3.11 -m pip install ansible-pylibssh


      - name: Install IOS-XR collection
        shell: bash
        env:
          SSL_CERT_FILE: ${{ env.SSL_CERT_FILE }}
          REQUESTS_CA_BUNDLE: ${{ env.REQUESTS_CA_BUNDLE }}
        run: |
          ansible-galaxy collection install cisco.iosxr --force

      - name: Run playbook
        shell: bash
        env:
          XR_USERNAME: "ansible"
          XR_PASSWORD: "ansible"
          SSL_CERT_FILE: ${{ env.SSL_CERT_FILE }}
          REQUESTS_CA_BUNDLE: ${{ env.REQUESTS_CA_BUNDLE }}
          ANSIBLE_HOST_KEY_CHECKING: "False"
          ANSIBLE_PERSISTENT_CONNECT_TIMEOUT: "30"
          ANSIBLE_PERSISTENT_COMMAND_TIMEOUT: "120"
        run: |
          echo "XR_USERNAME is: $XR_USERNAME"
          ansible-playbook -i inventory/hosts.yml  playbooks/isis.yml -vv
# trigger
# trigger
