name: IOS-XR GitOps Demo

on:
  push:
    paths:
      - "playbooks/**"
      - "inventory/hosts.ini"
      - ".github/workflows/**"

jobs:
  deploy:
    runs-on: [self-hosted, macOS, X64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Python + CA bundle (macOS runner)
        shell: bash
        run: |
          python3 --version
          python3 -m ensurepip --upgrade || true
          python3 -m pip install --upgrade pip certifi
          CACERT=$(python3 -c "import certifi; print(certifi.where())")
          echo "SSL_CERT_FILE=$CACERT" >> $GITHUB_ENV
          echo "REQUESTS_CA_BUNDLE=$CACERT" >> $GITHUB_ENV

      - name: Install Ansible
        shell: bash
        run: |
          python3 -m pip install "ansible>=10,<11"
          python3 -m pip install  paramiko
         




      - name: Install IOS-XR collection
        shell: bash
        env:
          SSL_CERT_FILE: ${{ env.SSL_CERT_FILE }}
          REQUESTS_CA_BUNDLE: ${{ env.REQUESTS_CA_BUNDLE }}
        run: |
          ansible-galaxy collection install cisco.iosxr --force

      - name: Run playbook
        shell: bash
        env:
          XR_USERNAME: ${{ secrets.XR_USERNAME }}
          XR_PASSWORD: ${{ secrets.XR_PASSWORD }}
          SSL_CERT_FILE: ${{ env.SSL_CERT_FILE }}
          REQUESTS_CA_BUNDLE: ${{ env.REQUESTS_CA_BUNDLE }}
          ANSIBLE_HOST_KEY_CHECKING: "False"
          ANSIBLE_PERSISTENT_CONNECT_TIMEOUT: "30"
          ANSIBLE_PERSISTENT_COMMAND_TIMEOUT: "120"
        run: |
          ansible-playbook -i inventory/hosts.yml playbooks/isis.yml -vv



