name: Deploy to XR

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    container:
      image: ubuntu:22.04

    steps:
      - uses: actions/checkout@v3

      - name: Install Ansible
        run: |
          apt update
          apt install -y python3-pip sshpass
          pip install ansible paramiko


      - name: Deploy to XR
        run: ansible-playbook -i work/hosts.yml work/site.yml
