name: runner-test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Who am I
        run: |
          echo "Hostname:"
          hostname
          echo "User:"
          whoami
          echo "PWD:"
          pwd

